//colors

$primary: #ffffff;

$primary-grey: #fafbfc;
$secondary-grey: #e2e7e9;
$tertiary-grey: #1d3248;
$quaternary-grey: #a4aabb;

$primary-pink: #ff99dd;
$primary-blue: #5278ff;
$primary-purple: #817eff;
